<%- include('partials/header.ejs') %>

<body class="buds">
 
  <header>
    <% if (data && data.username) { %>
    <img class="profile-logo" src="/assets/images/giants.png" />
    <h1 class="profile-name-buds">
      <%= data.username %>
        <div style="font-size: 15px;"><a href="/logout">Logout</a></div>
        <% } %>
    </div>
    </h1>
  </header>
  <nav>
    <ul>

      <li><a href="/profile">Profile</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/buds" class="current">Buds</a></li>
    </ul>
  </nav>
  <!-- wrapper -->
  <div class="centered">

    <section class="cards">
      <article class="card">
        <a href="/buds/1"><img src="/assets/images/bears.png" class="bud-pic"></a>
        <p>Jon</p>
      </article><!-- /card-one -->

      <article class="card">
        <img src="/assets/images/browns.png" class="bud-pic">
        <p>Deb</p>
      </article><!-- /card-two -->

      <article class="card">
        <img src="/assets/images/colts.png" class="bud-pic">
        <p>Chris</p>
      </article><!-- /card-three -->

      <article class="card">
        <img src="/assets/images/giants.png" class="bud-pic">
        <p>Jen</p>
      </article><!-- /card-four -->
     
     
      <article class="card">
        <img src="/assets/images/jets.png" class="bud-pic">
        <p>George</p>
      </article><!-- /card-one -->

      <article class="card">
        <img src="/assets/images/cowboys.png" class="bud-pic">
        <p>Julie</p>
      </article><!-- /card-two -->

      <article class="card">
        <img src="/assets/images/raiders.png" class="bud-pic">
        <p>Don</p>
      </article><!-- /card-three -->

      <article class="card">
        <img src="/assets/images/bears.png" class="bud-pic">
        <p>Larry</p>
      </article><!-- /card-four -->

    </section>
  </div>


  <!-- back button -->
  <footer>
    <a href="/logout" class="back">Back Home</a>
  </footer>

</body>
<%- include('partials/footer.ejs') %>