
<div class="column-2">
    <h1 style="color: white; padding: 20px;">Congratulations!<br>Welcome to the team!</h1><br><br>
    <input class="login" type="button" onClick="location.href='/login'" value="Login" />
</div>
