<div class="main-profile-wrapper">
    <!-- image left -->
    <div class="left-column">
      <img class="games-icon" src="/images/giants.png">
      <p class="games-text">Giants</p>
    </div>
    <div class="middle-column">
      <p class="game-date">Sun, Oct 11</p>
      <p>Vs.</p>
    </div>
    <div class="right-column right-column-games">

      <img class="games-icon" src="/images/colts.png">
      <p class="games-text">Colts</p>

    </div>
    <!-- info -->

</div>