<div class="column-2 index-column-2">
        
    <input
        class="login"
        type="button"
        onClick="location.href='/login'"
        value="Login" 
    />
    <input
        class="signup"
        type="button"
        onClick="location.href='/signup'"
        value="Signup"
    />

</div>