
<div class="column-2 index-column-2">
    <nav>
        <button id="login" class="btn-no-style">login</button>
        <a href="/login">login</a>
    </nav>
    <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
    </nav>
</div>