<%- include('partials/header.ejs') %>
<body>
  <div class="main-container">
    <div class="column-1">
      <h1 class="title">Gameday</h1>
      <img class="nfl-logo" src="/assets/images/nfl.png" />
    </div>
    <div class="column-2 index-column-2">
      
     <input
        class="login"
        type="button"
        onClick="location.href='/login.html'"
        value="Login" 
      />
      <input
        class="sign-up"
        type="button"
        onClick="location.href='/sign-up.html'"
        value="Sign up"
      />

    </div>
  </div>
</body>