{{!-- <div class="column-2">
      <!-- <label for="uname"><b>Username</b></label> -->
      <input class="username" type="text" placeholder="Username" name="uname" required />

      <!-- <label for="psw"><b>Password</b></label> -->
      <input type="password" placeholder="Password" name="psw" required />
      <!-- login button -->
      <input class="login-button" type="button" onClick="location.href='/profile'" value="Login" />
      <!-- back button -->
      <input class="back-button" type="button" onClick="location.href='/'" value="Back Home" />

</div> --}}

<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>