<%- include('partials/header.ejs') %>

  <body class="profile">
    <div class="main-container">
      <div class="column-1">
        <% if (data && data.username) { %>
          <img class="profile-logo" src="/assets/images/giants.png" />
          <h1 class="profile-name">
            <%= data.username %>
              <div style="font-size: 15px;"><a href="/logout">Logout</a></div>
              <% } %>
      </div>
      </h1>
      <div class="column-2 column-2-profile index-column-2">

        <input class="buds" type="button" onClick="location.href='/login'" value="Buds" />
        <input class="games" type="button" onClick="location.href='/sign-up'" value="Games" />

      </div>
    </div>
  </body>
  <%- include('partials/footer.ejs') %>