<!-- wrapper -->
<div class="main-profile-wrapper">
    <!-- image left -->
    <div class="left-column">
    <img class="profile-pic" src="images/profile-pic1.png">
</div>
<div class="right-column">
    <h1 class="full-name">
    Bobby Bradly
    </h1>
    <p>New York Giants # 1 fan</p>
    <p>Attended: 15 Games</p>
    <p>City: Indianpolis, IN</p>
    <p>AM: Syracuse</p>

</div>
    <!-- info -->

</div> 

{{!-- this page needs to be changed using double brackets for personal information
needs to change src for images, profile name, profile pic, and full name div --}}