<%- include('partials/header.ejs') %>

<body class="buds">
 
  <header>
    <% if (data && data.username) { %>
    <img class="profile-logo" src="/assets/images/giants.png" />
    <h1 class="profile-name-buds">
      <%= data.username %>
        <div style="font-size: 15px;"><a href="/logout">Logout</a></div>
        <% } %>
    </div>
    </h1>
  </header>
  <nav>
    <ul>

      <li><a href="/profile.html" class="current">Profile</a></li>
      <li><a href="/public/confirm.html">Games</a></li>
      <li><a href="/buds">Buds</a></li>
    </ul>
  </nav>
  <!-- wrapper -->
  <div class="main-profile-wrapper">
    <!-- image left -->
    <div class="left-column">
      <img class="profile-pic" src="/assets/images/profile-pic1.png">
    </div>
    <div class="right-column">
      <h1 class="full-name">
        Bobby Bradly
      </h1>
      <p>New York Giants # 1 fan</p>
      <p>Attended: 15 Games</p>
      <p>City: Indianpolis, IN</p>
      <p>AM: Syracuse</p>

    </div>
    <!-- info -->

  </div>


  <!-- back button -->
  <footer>
    <a href="/logout" class="back">Back Home</a>
  </footer>

</body>
<%- include('partials/footer.ejs') %>