{{!-- <div class="column-2">
  <!-- <label for="uname"><b>Username</b></label> -->
  <input class="username" type="text" placeholder="Username" name="uname" required />

  <!-- <label for="psw"><b>Password</b></label> -->
  <input type="password" placeholder="Password" name="psw" required />
  <!-- submit button -->
  <input class="submit-button" type="button" onClick="location.href='/confirm'" value="Submit" />
  <!-- back button -->
  <input class="back-button" type="button" onClick="location.href='/'" value="Back Home" />
</div> --}}


<form class="signup-form">
  <div>
    <input type="text" class="username" type="text" placeholder="Username" name="uname" id="username-signup" />
  </div>
  <div>
    <input type="text" class="email" type="text" placeholder="Email" name="email" id="email-signup" />
  </div>
  <div>
    <input type="password" placeholder="Password" name="psw" id="password-signup" />
  </div>
  <div>
    <button class="submit-button" type="submit">Sign Up</button>
  </div>
  <div>
    <button class="back-button" type="back" onclick="location.href='/'">Back</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>