{{!-- <div class="column-2">
  <!-- <label for="uname"><b>Username</b></label> -->
  <input class="username" type="text" placeholder="Username" name="uname" required />

  <!-- <label for="psw"><b>Password</b></label> -->
  <input type="password" placeholder="Password" name="psw" required />
  <!-- submit button -->
  <input class="submit-button" type="button" onClick="location.href='/confirm'" value="Submit" />
  <!-- back button -->
  <input class="back-button" type="button" onClick="location.href='/'" value="Back Home" />
</div> --}}


<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>