* {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #007FFF;
}

.main-container {
    display: flex;
    flex-direction: row;
    padding-top: 150px;

}

.nfl-logo {
    width: 150px;
}

.column-1 {
    margin: 0 auto;
    text-align: center;
}

.column-2 {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.column-1,
h1 {
    margin-bottom: 10px;
}

.title {
    margin: 10px 0 10px 0;
    color: white;
}

.login {
    background-color: lightseagreen;
}




@media only screen and (max-width: 600px) {
    .main-container {
        flex-direction: column;
        padding-top: 80px;
    }

    .nfl-logo {
        width: 100px;
    }
}