@font-face {
  src: url("/assets/fonts/PressStart2P.ttf");
  font-family: Start;
}

* {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #007FFF;
}

.sign-up-body {
  background: url(/assets/images/field-side.png) #217b00ff no-repeat center center fixed;
}

.title {
  font-family: Start;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding-top: 200px;
}

.nfl-logo {
  width: 150px;
}

.column-1 {
  margin: 0 auto;
  text-align: center;
}

.column-2 {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  display: block;
  border: none;
  height: 70px;
  width: 239px;
  border-radius: 10px;
}

input {
  font-family: Start;
  font-size: 18px;
  display: block;
  padding-left: 15px;
  border: none;
  height: 70px;
  width: 239px;
  border-radius: 10px;
}

.column-1,
h1 {
  margin-bottom: 10px;
}

.title {
  margin: 10px 0 10px 0;
  color: white;
}

.login {
  background-color: #32de84;
  margin-bottom: 15px;
  font-family: Start;
  color: dark grey;
  /* text-shadow: 0px 0px 5px black; */
}

.sign-up {
  font-family: Start;
  color: red;
}

.login, .sign-up {
  cursor: pointer;
}

.username {
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
 
  .sign-up-body {
    background-image: url(/assets/images/field.png);
  }

  .main-container {
    flex-direction: column;
    padding-top: 80px;
  }

  .nfl-logo {
    width: 200px;
  }
}
